@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
--cor-primaria: #181D31;
--cor-secundaria: #F0E9D2;
--cor-terciaria: #678983;
--cor-hover: #E6DDC4;

--fonte-primaria: "Krona One", sans-serif;
--fonte-primaria-size: 2.25rem;
--fonte-primaria-weight: 400;

--fonte-secundaria: "Montserrat", sans-serif;
--fonte-secundaria-size: 1.5rem;
--fonte-secundaria-weight: 400;

}

*
{
    margin: 0;
    padding: 0;
}

a:link
{
    text-decoration: none;
}

.tema-escuro
{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

body
{
    box-sizing: border-box;
}

.cabecalho
{
    padding: 5% 0 0 15%;
}

.cabecalho__menu
{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link
{
    font-family: var(--fonte-secundaria);;
    font-size: var(--fonte-secundaria-size);
    font-weight: 600;
    line-height: 30px;

    color: var(--cor-terciaria);
}

.cabecalho__menu__link:hover
{
    color: var(--cor-hover);
    
    text-decoration: underline var(--cor-terciaria);
    text-underline-offset: 10px;
    transition: 0.5s;
}

.apresentacao
{
    display: flex;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 15%;
}

.apresentacao__conteudo
{
    width: 50%;

    display: flex; 
    flex-direction: column;
    gap: 40px;
}

.apresentacao__imagem
{
    width: auto;
    max-height: 550px;
}

.apresentacao__conteudo__titulo
{
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-primaria-size);
    font-weight: var(--fonte-primaria-weight);
    line-height: 56px;
}

.apresentacao__conteudo__descricao
{
    font-family: var(--fonte-secundaria);;
    font-size: var(--fonte-secundaria-size);
    font-weight: var(--fonte-secundaria-weight);
    line-height: 36px;
}

.apresentacao__conteudo__titulo__destaque 
{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__btn
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.apresentacao__conteudo__btn_titulo
{
    font-family: var(--fonte-primaria);;
    font-weight: var(--fonte-primaria-weight);
    line-height: 40px;
}

.apresentacao__conteudo__btn__style
{
    width: 378px;
    height: 36px;
    border-radius: 8px;
    padding: 21.5px 0;

    font-family: var(--fonte-secundaria);;
    font-size: var(--fonte-secundaria-size);
    font-weight: 600;
    line-height: 36px;
    align-items: center;
    
    border: solid 2px var(--cor-terciaria);
    color: var(--cor-secundaria);
    
    display: flex;
    justify-content: center;
}

.apresentacao__conteudo__btn__style:hover
{
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);

    transition: 0.5s;
}

.btn__icons
{
    width: 32px;
    height: 32px;
    margin-right: 16px;
}

.rodape
{
    font-family: var(--fonte-secundaria);;
    font-size: var(--fonte-secundaria-size);
    font-weight: 600;
    line-height: 36px;
    text-align: center;

    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);

    padding: 10px 20px 5px 20px;
}

@media (max-width: 1200px)
{
    .apresentacao
    {
       flex-direction: column-reverse;
       padding: 5%;
       align-items: center;
       gap: 40px;
    }

    .apresentacao__conteudo
    {
        width: auto;
    }

    .apresentacao__imagem
    {
        width: auto;
    }

    .cabecalho
    {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }
}

@media (max-width: 600px)
{
    .apresentacao__imagem
    {
        width: 85%;
    }
}